<ng-container *ngIf="(selectedMovie$ | async) as movie; else noMovie">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ movie.Title }} ({{ movie.Year }})</mat-card-title>
      <mat-card-subtitle *ngIf="movie.Genre">Genre: {{ movie.Genre }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="movie.Poster" [alt]="movie.Title" (error)="movie.Poster = 'assets/placeholder.png'" />
    <mat-card-content>
      <p><strong>Plot:</strong> {{ movie.Plot }}</p>
      <p><strong>Actors:</strong> {{ movie.Actors }}</p>
      <p><strong>Director:</strong> {{ movie.Director }}</p>
    </mat-card-content>
  </mat-card>
  <button mat-button color="warn" (click)="onFavoriteClick(movie)">
    <mat-icon>favorite</mat-icon>
    Favorite
  </button>
</ng-container>

<ng-template #noMovie>
  <mat-card>
    <mat-card-content>
      <p>No movie selected.</p>
    </mat-card-content>
  </mat-card>
</ng-template>
