.clickable-item {
  cursor: pointer;
}

.error-card {
  background-color: #ffcdd2;
  color: #b71c1c;
}

.movie-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 1rem;
}

.movie-card mat-card {
  width: 100%;
}

